<div class="bing-card" *ngIf="card" [class.horizontal]="horizontal">
    <div class="bing-card-header row">
        <div class="letter noselect" *ngFor="let letter of letters">{{letter}}</div>
    </div>
    <div class="bing-card-body">
        <div class="row" *ngFor="let row of card.numbers;index as rowIndex">
            <bingo-cell [cell]="cell" *ngFor="let cell of row;index as cellIndex" (click)="mark(rowIndex, cellIndex)"></bingo-cell>
        </div>        
    </div>
    <div class="bing-card-footer">
        <button class="bingo noselect" (click)="bingo()" *ngIf="card.id">BINGO!</button>

        
        <div class="bing-card-id" *ngIf="card.id">ID: {{card.id}}</div>
    </div>


</div>