<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title">Create the game</h2>

                <div class="field">
                    <label class="label">Game name</label>
                    <div class="control">
                        <input class="input" #gameName type="text" placeholder="Name of the game" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">BINGO cards per player</label>
                    <div class="control">
                        <input class="input" #cardLimit type="number" min="1" placeholder="BINGO cards per player"
                            value="1" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">End of game</label>
                    <div class="select">
                        <select #pattern>
                            <option *ngFor="let p of patternOptions">{{p}}</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Win condition</label>
                    <div class="select">
                        <select #winBy>
                            <option *ngFor="let p of winByOptions">{{p}}</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label"></label>
                    <label class="checkbox">
                        <input type="checkbox" #asOperator>
                        Join as operator
                    </label>
                </div>



                <button class="button is-link"
                    (click)="createGame(gameName.value, pattern.value, winBy.value, cardLimit.value, playerName.value, asOperator.checked)">Create
                    game</button>
            </div>
            <div class="column">
                <h2 class="title">Join existing game</h2> <button (click)="refresh()">Refresh</button>

                <div class="field">
                    <label class="label">Your name</label>
                    <div class="control">
                        <input class="input" #playerName type="text" placeholder="Your name" minlength="3" />
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th><abbr title="Name">Name</abbr></th>
                        <th><abbr title="Status">Status</abbr></th>
                        <th><abbr title="Win condition">Win condition</abbr></th>
                        <th><abbr title="End condition">End condition</abbr></th>
                        <th><abbr title="Cards">Cards</abbr></th>
                        <th><abbr title="Players">Players</abbr></th>
                        <th><abbr title="Join">Join</abbr></th>
                    </tr>
                    <tr *ngFor="let game of games | async">
                        <td>{{game.name}}</td>
                        <td>{{game.status}}</td>
                        <td>{{game.winnerResolution}}</td>
                        <td>{{game.finishingPattern}}</td>
                        <td>{{game.cardLimit}}</td>
                        <td>{{game.playersCount.total}}({{game.playersCount.online}})</td>
                        <td><a href="#" *ngIf="game.status == 'WAITING_FOR_PLAYERS'"
                                (click)="subscribe(game.id, playerName.value)">join</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>