<aside *ngIf="game">
    <div class="game-specification">
        <p class="heading">Win condition</p>
        <p class="title">{{game.winnerResolution}}</p>
    </div>
    <hr />
    <div class="game-specification">
        <p class="heading">End condition</p>
        <p class="title">{{game.finishingPattern}}</p>
    </div>
    <hr />
    <div class="game-specification">
        <p class="heading">Cards per player</p>
        <p class="title">{{game.cardLimit}}</p>
    </div>

    <hr />
    <div class="game-specification">
        <p class="heading">Winner</p>
        <p class="title"><winner></winner></p>
    </div>
    
    <hr /><hr />
    <ng-content></ng-content>

</aside>